:root {
  --background-color: rgb(218, 214, 214);
  --navbar-color: rgb(163, 162, 162);
  --text-color: #191A1C;
  --link-text-color: rgb(8, 19, 168);
  --imgFilter: 0%;
}

.dark-mode {
  --background-color: #1a1b1d;
  --navbar-color: rgb(53, 52, 52);
  --text-color: whitesmoke;
  --link-text-color: rgb(158, 151, 252);
  --imgFilter: 80%;
}

#logo, #slide {
  filter: invert(var(--imgFilter));
}


#root {
  margin: 0;
  margin-right: 0;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

nav {
  background-color: var(--navbar-color); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

.info {
  margin-top: 5em;
  width: 99vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content  {
  display: flex;
  flex-direction: column;
  width: 810px;
  align-items: center;

}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#slide {
  margin-right: 1em;
}

.logo {
  margin-top: 1em;
}

.card {
  height: 1.3em;
  width: 4em;
  border: 1px solid gray;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px green; */
  align-content: center;
  margin-top: 1em;
}

#back {
  margin-top: 3em;
}